/* styles.css */
*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Common styles for all screen sizes */
body {
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #111;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 1.5em;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  .toggle {
    display: none; /* Hide the toggle button by default */
  }
  
  .showcase {
    position: relative;
  }
  
  video {
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
  }
  
  .text h2 {
    font-size: 2em;
    font-weight: 800;
    text-transform: uppercase;
  }
  
  .text h3 {
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .text p {
    font-size: 1em;
    margin: 20px 0;
    max-width: 700px;
    word-wrap: break-word;
  }
  
  .text a {
    display: inline-block;
    font-size: 1em;
    background: #fff;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    color: #111;
    letter-spacing: 2px;
    transition: 0.2s;
  }
  
  .text a:hover {
    letter-spacing: 6px;
  }
  
  .social {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social li {
    list-style: none;
    margin-right: 20px;
  }
  
  .social li:last-child {
    margin-right: 0;
  }
  
  .social li a {
    display: inline-block;
    filter: invert(1);
    transform: scale(0.5);
    transition: 0.5s;
  }
  
  .social li a:hover {
    transform: scale(0.5) translateY(-15px);
  }
  
  .menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: #fff;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }
  
  .menu ul {
    padding: 20px;
    list-style: none;
  }
  
  .menu ul li {
    margin-bottom: 20px;
  }
  
  .menu ul li a {
    text-decoration: none;
    font-size: 1.2em;
    color: #111;
    transition: color 0.3s;
  }
  
  .menu ul li a:hover {
    color: #03a9f4;
  }
  