/* Reset some default styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Define the gallery container */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Two columns with space between */
    background: #000000;
}

/* Style individual gallery items */
.gallery-item {
    flex-basis: calc(50% - 10px); /* Two columns, subtracting space between */
    margin-bottom: 20px; /* Space between items */
    margin-top: 20px;
}

.gallery-item img {
    width: 100%; /* Make images fill their container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px;
}
