*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    background: #f9004d;
    color: white;
    padding-top: 1110px;
    padding-bottom: 5px;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s ease-in;
}

button:hover{
    background: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}
button a{
    text-decoration: none;
    color: white;
}

.swiper{
    width: 80%;
    height: fit-content;
}

.swiper-slide img{
    width: 100%;
    border-radius: 20px;
}
.swiper .swiper-button-prev, .swiper .swiper-button-next{
    color: #fff;
    scale: 10px;
    transform: scale(1);
    transition: 0.5s ease-in-out;
}
.swiper .swiper-button-prev:hover{
    color: #222;
    transform: scale(1) translateX(-15px);
}
.swiper .swiper-button-next:hover{
    color: #222;
    transform: scale(1) translateX(15px);
}
.swiper .swiper-pagination-bullet-active{
    background: #fff;
    scale: 5px;
    transform: scale(0.5);
    transition: 0.5s ease-in-out;
}
.swiper .swiper-pagination-bullet-active:hover{
    color: #222;
    transform: scale(0.5) translateY(-15px);
}
